* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  -webkit-app-region: drag;
  overflow: hidden;
}

/* Blurred background */
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  filter: none;
  transform: none;
}

.player {
  position: relative;
  z-index: 2;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;

  padding-bottom: 80px;
  color: black;
}
.song-art {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  margin-bottom: 30px;

  background-image: url("img/music01.png"); 
  background-size: cover;
  background-position: center;

  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.song-info {
  text-align: center;
  margin-bottom: 20px;
}

.song-info h2 {
  font-size: 28px;
  letter-spacing: 4px;
  font-weight: bold;
}

.song-info p {
  opacity: 0.6;
  font-size: 14px;
}

.controls {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 40px;
  -webkit-app-region: no-drag;
}

.controls img {
  width: 40px;   /* smaller */
  height: 40px;
  object-fit: contain;
  cursor: pointer;
  transition: 0.2s;
  -webkit-app-region: no-drag;
}

/* Make play button bigger */
#play {
  width: 70px;
  height: 70px;
  -webkit-app-region: no-drag;
}

.controls img:hover {
  transform: scale(1.2);
}

.background::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: no-drag;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}
.window-controls {
  position: absolute;
  top: 10px;
  right: 10px;
}
.close-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: black;
  -webkit-app-region: no-drag;
}
